<!DOCTYPE html>
<html>
    <head>
      <title>Howso Documentation</title>
      <meta http-equiv="refresh" content="0; url=${HOWSO_UI_URL}">
      <!-- Fallback if http-equiv does not redirect -->
      <script type="text/javascript">
        window.location.href = "${HOWSO_UI_URL}"
      </script>
    </head>
    <body></body>
</html>