/* Limit height of brand logo */
.navbar-brand .logo__image {
    height: 32px;
}

/** Correct API Reference styles where signatures are very long **/
/* Newlines (\a) and spaces (\20) before each parameter */
.sig.sig-wrap .sig-param::before {
    content: "\a\20\20\20";
    white-space: pre;
}
/* Newline after the last parameter (so the closing parenthesis is on a new line) */
.sig.sig-wrap .sig-param:last-of-type::after {
    content: "\a";
    white-space: pre;
}
/* Break up signatures where the package path is very long */
.sig.sig-wrap .sig-prename {
    word-break: break-word;
    overflow-wrap: break-word;
}
.sig.sig-wrap .sig-prename span.pre {
    white-space: normal;
}
